body
{
	font-family:Calibri,Verdana,Helvetica,Arial,sans-serif;
	background-color:#0F0F0F;
}

a, a:visited
{
	color:#F0F0F0;
}

.block
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #aaaaaa;
	margin: 8px;
	padding: 8px;
	background-color:#020202;
	color:#F8F8F8;
	font-size:16px;
	box-shadow: 0px 5px 7px #aaaaaa;
	-moz-box-shadow: 0px 5px 7px #aaaaaa;
	-webkit-box-shadow: 0px 5px 7px #aaaaaa;
	-khtml-box-shadow: 0px 5px 7px #aaaaaa;
}

.center
{
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

.header
{
	font-weight:bold;
	font-size:24px;
	text-align:center;
	background-color:#e8ffc6;
	color:#000000;
}

.content
{
	text-align:left;
}

.footer
{
	text-align:center;
	font-size:12px;
}

textarea {
	width: 600px;
	height: 100px;
}

#contact-subject {
	display: none;
}

.error {
	background-color:#FF9B9B;
	color:#000000;
}
